:root {
    --primary: #9656a1;
    --secondary: #e78fb3;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 25px;
    display: flex;
}

header p {
    text-align: right;
    width: 100%;
}

header nav {
    text-align: left;
    width: 100%;
}

header a {
    color: var(--secondary);
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-size: 32px;
    margin: 15px 0;
}

form {
    padding: 10px 0;
}

section {
    width: 80%;
    margin: 0 auto;
}

section p {
    padding-bottom: 20px;
}

.start-section {
    text-align: center;
}

.btn {
    padding: 12px 15px;
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
    border: none;
}

.btn:hover {
    background-color: var(--secondary);
}

.choices {
    list-style-type: decimal;
    list-style-position: inside;
    margin-bottom: 30px;
}

.option {
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--primary);
    border-radius: 10px;
    color: white;
}

.option:hover {
    background-color: var(--secondary);
}

.result {
    color: rgb(175, 175, 175);
    font-style: italic;
    font-size: 20px;
}

.result-show {
    border-top: solid rgb(175, 175, 175) 1px;
    padding: 10px 0;
}

.submit-btn {
    padding: 2px 15px;
    border-radius: 8px;
}
/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 575px) {
    section {
        width: 65%;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 768px) {
    section {
        width: 50%;
    }
}